[submodule ".\\Gradient\\vendor\\spdlog"]
	path = .\\Gradient\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule ".\\Gradient\\vendor\\glfw"]
	path = .\\Gradient\\vendor\\glfw
	url = https://github.com/glfw/glfw
